.fp-service-main {
    .fp-service-list {
        margin-top: 50px;
        .col-md-4 {
            margin-bottom: 30px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        .fp-service-data {
            border: 1px solid #E2E2E2;
            padding: 30px;
            text-align: center;
            min-height: 144px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            cursor: pointer;
            @include fp-transition;
            background-color: $white;
            @include media-breakpoint-down(lg){
                padding: 17px;
            }
            @include media-breakpoint-down(sm){
                min-height: 127px;
            }
            &:hover {
                border-color: transparent;
                box-shadow: 0 0 10px 0 rgba(2, 161, 207, 0.22);
                h3 {
                    color: $primary-color;
                }
            }
            img {
                height: 40px;
                margin-bottom: 15px;
            }
        }
    }
}

.fp-contact-main {
    position: relative;
    .fp-contact-img {
        height: 730px;
        overflow: hidden;
        width: 100%;
        @include media-breakpoint-down(sm){
            height: 1050px;
        }
        img {
            @include fp-img-set;
        }
    }
    .fp-contact-data {
        background-color: $white;
        box-shadow: 0 0 10px 0 rgba(2, 161, 207, 0.22);
        padding: 50px;
        max-width: 1210px;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        @include media-breakpoint-down(lg){
            max-width: 90%;
            padding: 30px 20px;
        }
    }
}

.fp-document-main {
    .fp-document-list {
        margin-bottom: 90px;
        @include media-breakpoint-down(md){
            margin-bottom: 40px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        .fp-download {
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
            li {
                max-width: 25%;
                flex-basis: 25%;
                margin-bottom: 40px;
                @include media-breakpoint-down(lg){
                    max-width: 50%;
                    flex-basis: 50%;
                }
                a {
                    display: flex;
                    align-items: flex-start;
                    max-width: 235px;
                    @include media-breakpoint-down(md){
                        max-width: 300px;
                    }
                    span {
                        width: calc(100% - 60px);
                    }
                }
            }
            i {
                width: 30px;
                height: 30px;
                background: url(../images/download.svg) no-repeat;
                background-size: contain;
                background-position: center center;
                margin-right: 30px;
                @include media-breakpoint-down(md){
                    width: 27px;
                    height: 27px;
                    margin-right: 19px;
                }
                @include media-breakpoint-down(sm){
                    width: 24px;
                    height: 24px;
                }
            }
        }
        .fp-logo-list {
            margin-top: 60px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            @include media-breakpoint-down(sm){
                margin-top: 31px;
            }
            li {
                max-width: 20%;
                flex-basis: 20%;
                text-align: center;
                margin-bottom: 15px;
                @include media-breakpoint-down(sm){
                    max-width: 30%;
                    flex-basis: 30%;
                }
                a {
                    &:hover {
                        img {
                            filter: grayscale(0);
                        }
                    }
                    img {
                        height: 80px;
                        filter: grayscale(1);
                        @include fp-transition;
                        @include media-breakpoint-down(lg){
                            height: 65px;
                        }
                        @include media-breakpoint-down(md){
                            height: 51px;
                        }
                        @include media-breakpoint-down(sm){
                            height: 31px;
                        }
                    }
                }
            }
        }
    }
}

.fp-about-main {
    .fp-about-list {
        .fp-text {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .fp-about-client {
            margin-top: 50px;
            .fp-text {
                position: relative;
            }
            h4 {
                font-size: 20px;
                font-weight: $f-black;
                color: $primary-color;
                margin-top: 20px;
            }
        }
    }
    .fp-about-team {
        position: relative;
        .fp-about-img {
            overflow: hidden;
            width: 100%;
            height: 440px;
            position: relative;
            @include media-breakpoint-down(sm){
                height: 500px;
            }
            &:before {
                @include fp-before-after;
                background-color: rgba(2, 161, 207, 0.8);
                z-index: 1;
            }
            img {
                @include fp-img-set;
                filter: blur(15px);
            }
        }
        .fp-about-team-data {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
            .container {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                height: 100%;
                .row {
                    width: 100%;
                }
            }
            .fp-about-content {
                color: $white;
                padding: 50px 0;
                .fp-title {
                    &:before {
                        background-color: $white;
                    }
                }
                .fp-team-slider {
                    margin-top: 40px;
                    @include media-breakpoint-down(sm){
                        margin-top: 15px;
                    }
                    .fp-team-slider-data {
                        display: flex;
                        align-items: flex-start;
                        @include media-breakpoint-down(sm){
                            display: inline-block;
                        }
                    }
                    .swiper-pagination {
                        position: relative;
                        bottom: auto;
                        left: auto;
                        width: auto;
                        text-align: right;
                        margin-top: 50px;
                        @include media-breakpoint-down(sm){
                            margin-top: 37px;
                        }
                        span {
                            background-color: $white;
                            width: 12px;
                            height: 12px;
                            margin: 0 7px;
                        }
                    }
                    .fp-team-img {
                        width: 120px;
                        height: 120px;
                        overflow: hidden;
                        position: relative;
                        border-radius: 50%;
                        margin-right: 35px;
                        @include media-breakpoint-down(sm){
                            width: 100px;
                            height: 100px;
                        }
                        &:before {
                            @include fp-before-after;
                            background-color: rgba(2, 161, 207, 0.2);
                        }
                        img {
                            @include fp-img-set;
                        }
                    }
                    .fp-team-data {
                        width: calc(100% - 155px);
                        @include media-breakpoint-down(sm){
                            width: unset;
                            padding-top: 14px;
                        }
                        h4 {
                            font-size: 20px;
                            font-weight: $f-bold;
                        }
                        .fp-text {
                            @include media-breakpoint-down(sm){
                                display: -webkit-box;
                                -webkit-line-clamp: 5;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                            }
                            .fp-quote-bottom {
                                background-image: url(../images/quote-white.svg);
                            }
                        }
                    }
                }
            }
        }
    }
}