<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>Five Point Taxes</title>

    <% include /src/include/styles.ejs %>

</head>

<body>
    <div class="fp-content">
        <% include /src/include/header.ejs %>
            <main class="fp-about-main">
                <section class="fp-banner-main fp-title-main">
                    <div class="fp-banner-img">
                        <img src="images/banner-bg.jpg" alt="">
                    </div>
                    <div class="fp-banner-data">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="fp-banner-content" data-aos="fade-up" data-aos-duration="1200">
                                        <h1 class="fp-title">About Us</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class=" fp-space">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="fp-about-list" data-aos="fade-up" data-aos-duration="1200">
                                    <h2 class="fp-title">The Five Point <span>Way</span></h2>
                                    <div>
                                        <p class="fp-text">Our expected standard of excellence is to get it right the first time, we do this by asking the right questions, double checking each return to get you maximum credits and deductions you deserve.</p>
                                        <p class="fp-text">We are more than tax preparers. We strive to build an honest and life long relationship with our clients. We provide our community with many accounting services, even when the tax season is over. (See list of services
                                            below). Through our years of service and trust from our clients, we have experienced enormous growth through client referrals and continue to remain professionals in how we conduct business. </p>
                                        <p class="fp-text">We pride ourselves as a family owned business, we know our clients by their names, not as numbers. We work hard to meet each individual's needs and make it easy for them to understand all required forms each step
                                            of the way. Because we see our clients as family, we provide the same level of service and competence we expect for ourselves. </p>
                                    </div>
                                    <div class="fp-about-client">
                                        <p class="fp-text"> <i class="fp-quote-top"></i> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                                            a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <i class="fp-quote-bottom"></i> </p>
                                        <h4>- Owner, Bill Mease</h4>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </section>
                <section class="fp-about-team fp-space mb-0">
                    <div class="fp-about-img">
                        <img src="images/meet.png" alt="">
                    </div>
                    <div class="fp-about-team-data">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <div class="fp-about-content" data-aos="fade-up" data-aos-duration="1200">
                                        <h1 class="fp-title">Our Team</h1>
                                        <p class="fp-text">Here's what some of our satisfied clients have to say about their experience with us.</p>
                                        <div class="fp-team-slider">
                                            <div class="swiper-container" id="fp-team-slider">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <div class="fp-team-slider-data">
                                                            <div class="fp-team-img">
                                                                <img src="images/meet.png" alt="">
                                                            </div>
                                                            <div class="fp-team-data">
                                                                <h4>Meg Hoffman</h4>
                                                                <p class="fp-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                                                    of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                                                    ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <i class="fp-quote-bottom"></i> </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="fp-team-slider-data">
                                                            <div class="fp-team-img">
                                                                <img src="images/meet.png" alt="">
                                                            </div>
                                                            <div class="fp-team-data">
                                                                <h4>Meg Hoffman-1</h4>
                                                                <p class="fp-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                                                    of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                                                    ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <i class="fp-quote-bottom"></i> </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="fp-team-slider-data">
                                                            <div class="fp-team-img">
                                                                <img src="images/meet.png" alt="">
                                                            </div>
                                                            <div class="fp-team-data">
                                                                <h4>Meg Hoffman-3</h4>
                                                                <p class="fp-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                                                    of type and scrambled it to make a type.<i class="fp-quote-bottom"></i> </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="swiper-pagination"></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </main>
            <% include /src/include/footer.ejs %>
    </div>
    <% include /src/include/scripts.ejs %>
        <script>
            var swiper = new Swiper('#fp-team-slider', {
                pagination: {
                    el: '.swiper-pagination',
                },
            });
        </script>

</body>

</html>