<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>Five Point Taxes</title>

    <% include /src/include/styles.ejs %>

</head>

<body>
    <div class="fp-content">
        <% include /src/include/header.ejs %>
            <main>
                <section class="fp-banner-main fp-title-main">
                    <div class="fp-banner-img">
                        <img src="images/contactus.jpg" alt="">
                    </div>
                    <div class="fp-banner-data">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="fp-banner-content" data-aos="fade-up" data-aos-duration="1200">
                                        <h1 class="fp-title">Contact Us</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="fp-contact-main">
                    <div class="fp-contact-img">
                        <img src="images/map.png" alt="">
                    </div>
                    <div class="fp-contact-data">
                        <div class="row">
                            <div class="col-md-6" data-aos="fade-up" data-aos-duration="1200">
                                <h2 class="fp-title">Contact us today for a free consultation with a highly experienced <span>local CPA</span></h2>
                                <p class="fp-text">We will contact you to schedule a day and time that is convenient for you.</p>
                                <ul class="fp-contact-list">
                                    <li class="fp-text">
                                        <i>
                                            <svg viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <g id="five-points-tax-home" transform="translate(-418.000000, -2526.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                                        <g id="Group-13" transform="translate(405.000000, 2342.000000)">
                                                            <g id="location" transform="translate(13.000000, 184.000000)">
                                                                <path d="M6.9703125,21.3442383 C8.45712891,21.7642578 10.4209473,21.9956055 12.5,21.9956055 C14.5790527,21.9956055 16.5428711,21.7643066 18.0296875,21.3442383 C19.8486816,20.8304199 20.7709961,20.0865723 20.7709961,19.1335449 C20.7709961,18.1804688 19.8486816,17.4367188 18.0296875,16.9229004 C17.1984863,16.6880859 16.2177734,16.5125977 15.1515625,16.4031738 C17.239502,12.8394043 19.3085938,8.80419922 19.3085938,6.80854492 C19.3085938,3.05429687 16.2542969,0 12.5,0 C8.74570313,0 5.69140625,3.05429687 5.69140625,6.80854492 C5.69140625,8.80415039 7.76044922,12.8392578 9.84838867,16.4030273 C8.78217773,16.5124512 7.80161133,16.6880371 6.97036133,16.9229004 C5.15136719,17.4367188 4.22905273,18.1805176 4.22905273,19.1335449 C4.22905273,20.0865723 5.15131836,20.8303711 6.9703125,21.3442383 Z M12.5,1.46484375 C15.446582,1.46484375 17.84375,3.86201172 17.84375,6.80854492 C17.84375,8.32202148 15.9710938,12.2894043 12.8344727,17.4213379 C12.7308594,17.5908691 12.5660156,17.6091309 12.4999512,17.6091309 C12.4339355,17.6091309 12.269043,17.5908691 12.1654297,17.4213379 C9.02880859,12.2894043 7.15615234,8.32207031 7.15615234,6.80854492 C7.15615234,3.86201172 9.55341797,1.46484375 12.5,1.46484375 Z M7.63452148,18.2611328 C8.5078125,18.0387207 9.55415039,17.8826172 10.6820312,17.801416 C10.7603027,17.9305176 10.8381836,18.0585449 10.9155762,18.1851562 C11.2557129,18.7416992 11.847998,19.073877 12.4999512,19.073877 C13.1519531,19.073877 13.7441895,18.7416504 14.0843262,18.1851562 C14.1617187,18.0584961 14.2396484,17.9304687 14.3179199,17.8013672 C15.4458008,17.8825684 16.4920898,18.0387207 17.3654297,18.2611328 C18.7041016,18.6020996 19.1931641,18.9859375 19.2937012,19.1334961 C19.1931152,19.2811035 18.7041504,19.6649414 17.3654785,20.0058594 C16.0367187,20.3443359 14.3087402,20.5307129 12.4999512,20.5307129 C10.6911621,20.5307129 8.96318359,20.3443359 7.63447266,20.0058594 C6.29580078,19.6649414 5.80678711,19.2810547 5.70625,19.1334961 C5.80683594,18.9859375 6.29584961,18.6021484 7.63452148,18.2611328 Z" id="Shape"></path>
                                                                <path d="M22.867627,17.5279297 C22.5129883,17.3331543 22.0677246,17.4626953 21.8730469,17.8171875 C21.6782715,18.1717285 21.8077637,18.617041 22.1623047,18.8117676 C23.0347656,19.2910645 23.5351562,19.8224121 23.5351562,20.2695801 C23.5351562,20.8165039 22.7602539,21.6641602 20.5853027,22.4030762 C18.4366211,23.1331543 15.5651855,23.5351562 12.5,23.5351562 C9.43481445,23.5351562 6.56337891,23.1331543 4.41469727,22.4030762 C2.23974609,21.664209 1.46484375,20.8165039 1.46484375,20.2695801 C1.46484375,19.8224121 1.96523437,19.2910645 2.83769531,18.8117188 C3.19223633,18.6169922 3.32172852,18.1716797 3.12695313,17.8171387 C2.93217773,17.4626465 2.48701172,17.3331055 2.13237305,17.5278809 C1.15961914,18.0623047 0,18.9717773 0,20.2695801 C0,21.2644043 0.684179688,22.6827637 3.94345703,23.7900879 C6.23994141,24.5703125 9.27871094,25 12.5,25 C15.7212891,25 18.7600586,24.5703125 21.056543,23.7900879 C24.3158203,22.6827637 25,21.2644043 25,20.2695801 C25,18.9717773 23.8403809,18.0623047 22.867627,17.5279297 Z" id="Path"></path>
                                                                <path d="M15.2366699,6.34106445 C15.2366699,4.83212891 14.0089844,3.60449219 12.5,3.60449219 C10.9910156,3.60449219 9.76333008,4.83212891 9.76333008,6.34106445 C9.76333008,7.85004883 10.9910156,9.07768555 12.5,9.07768555 C14.0089844,9.07768555 15.2366699,7.85009766 15.2366699,6.34106445 Z M11.2281738,6.34106445 C11.2281738,5.63984375 11.7987305,5.06933594 12.5,5.06933594 C13.2012695,5.06933594 13.7718262,5.63984375 13.7718262,6.34106445 C13.7718262,7.04228516 13.2012695,7.6128418 12.5,7.6128418 C11.7987305,7.6128418 11.2281738,7.04233398 11.2281738,6.34106445 Z" id="Shape"></path>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </i> 116 Greensboro Rd, High Point, NC 27260
                                    </li>
                                    <li class="fp-text">
                                        <i>
                                            <svg viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">   
                                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <g id="five-points-tax-home" transform="translate(-418.000000, -2606.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                                        <g id="Group-13" transform="translate(405.000000, 2342.000000)">
                                                            <g id="phone-call" transform="translate(13.000000, 264.000000)">
                                                                <path d="M19.749789,15.4802743 C19.2381857,14.9475738 18.621097,14.6627637 17.9670886,14.6627637 C17.3183544,14.6627637 16.6959916,14.9422996 16.1632911,15.475 L14.4966245,17.1363924 C14.3594937,17.0625527 14.2223629,16.9939873 14.0905063,16.9254219 C13.9006329,16.8304852 13.721308,16.7408228 13.5683544,16.6458861 C12.007173,15.6543249 10.5883966,14.3621308 9.22763713,12.6901899 C8.56835443,11.8568565 8.12531646,11.1553797 7.8035865,10.4433544 C8.23607595,10.0477848 8.63691983,9.63639241 9.02721519,9.24082278 C9.17489451,9.09314346 9.32257384,8.94018987 9.47025316,8.79251055 C10.5778481,7.68491561 10.5778481,6.25031646 9.47025316,5.14272152 L8.03037975,3.7028481 C7.86687764,3.53934599 7.69810127,3.37056962 7.53987342,3.20179325 C7.22341772,2.87478903 6.89113924,2.53723629 6.54831224,2.22078059 C6.03670886,1.71445148 5.42489451,1.44546414 4.7814346,1.44546414 C4.13797468,1.44546414 3.51561181,1.71445148 2.98818565,2.22078059 C2.98291139,2.22605485 2.98291139,2.22605485 2.97763713,2.23132911 L1.18438819,4.04040084 C0.5092827,4.71550633 0.124261603,5.53829114 0.0398734177,6.49293249 C-0.0867088608,8.03301688 0.366877637,9.46761603 0.714978903,10.4064346 C1.56940928,12.7112869 2.84578059,14.8473629 4.74978903,17.1363924 C7.05991561,19.8948312 9.83945148,22.0731013 13.014557,23.6079114 C14.2276371,24.1828059 15.8468354,24.8631857 17.6559072,24.9792194 C17.7666667,24.9844937 17.8827004,24.9897679 17.9881857,24.9897679 C19.2065401,24.9897679 20.2297468,24.5520042 21.0314346,23.6817511 C21.0367089,23.6712025 21.0472574,23.6659283 21.0525316,23.6553797 C21.3267932,23.3231013 21.6432489,23.0224684 21.9755274,22.7007384 C22.2023207,22.4844937 22.4343882,22.2577004 22.6611814,22.0203586 C23.1833333,21.4771097 23.4575949,20.8441983 23.4575949,20.1954641 C23.4575949,19.5414557 23.1780591,18.9138186 22.6453586,18.3863924 L19.749789,15.4802743 Z M21.6379747,21.0340717 C21.6327004,21.0340717 21.6327004,21.039346 21.6379747,21.0340717 C21.4322785,21.2555907 21.221308,21.4560127 20.9945148,21.6775316 C20.6516878,22.0045359 20.3035865,22.3473629 19.9765823,22.732384 C19.4438819,23.3020042 18.8162447,23.5709916 17.9934599,23.5709916 C17.914346,23.5709916 17.8299578,23.5709916 17.7508439,23.5657173 C16.1843882,23.4655063 14.728692,22.853692 13.6369198,22.3315401 C10.6516878,20.8863924 8.03037975,18.8347046 5.8521097,16.2344937 C4.0535865,14.0667722 2.85105485,12.0625527 2.05464135,9.91065401 C1.56413502,8.59736287 1.38481013,7.57415612 1.46392405,6.60896624 C1.51666667,5.99187764 1.75400844,5.48027426 2.19177215,5.04251055 L3.99029536,3.24398734 C4.24873418,3.00137131 4.52299578,2.86951477 4.79198312,2.86951477 C5.1242616,2.86951477 5.39324895,3.06993671 5.56202532,3.23871308 C5.56729958,3.24398734 5.57257384,3.2492616 5.5778481,3.25453586 C5.89957806,3.55516878 6.20548523,3.86635021 6.52721519,4.19862869 C6.6907173,4.36740506 6.85949367,4.53618143 7.02827004,4.71023207 L8.46814346,6.15010549 C9.02721519,6.70917722 9.02721519,7.22605485 8.46814346,7.78512658 C8.31518987,7.93808017 8.16751055,8.09103376 8.01455696,8.23871308 C7.57151899,8.69229958 7.14957806,9.11424051 6.6907173,9.52563291 C6.68016878,9.53618143 6.66962025,9.5414557 6.66434599,9.55200422 C6.21075949,10.0055907 6.29514768,10.4486287 6.39008439,10.7492616 C6.39535865,10.7650844 6.40063291,10.7809072 6.40590717,10.79673 C6.78037975,11.703903 7.30780591,12.5583333 8.10949367,13.5762658 L8.11476793,13.5815401 C9.57046414,15.374789 11.1052743,16.7724684 12.7983122,17.8431435 C13.014557,17.9802743 13.2360759,18.0910338 13.4470464,18.196519 C13.6369198,18.2914557 13.8162447,18.3811181 13.9691983,18.4760549 C13.9902954,18.4866034 14.0113924,18.5024262 14.0324895,18.5129747 C14.2118143,18.6026371 14.3805907,18.6448312 14.5546414,18.6448312 C14.9924051,18.6448312 15.2666667,18.3705696 15.3563291,18.2809072 L17.1601266,16.4771097 C17.3394515,16.2977848 17.6242616,16.0815401 17.9565401,16.0815401 C18.2835443,16.0815401 18.5525316,16.2872363 18.7160338,16.4665612 C18.721308,16.4718354 18.721308,16.4718354 18.7265823,16.4771097 L21.6327004,19.3832278 C22.1759494,19.9212025 22.1759494,20.475 21.6379747,21.0340717 Z" id="Shape"></path>
                                                                <path d="M13.5050633,5.94440928 C14.8869198,6.17647679 16.1421941,6.83048523 17.1443038,7.83259494 C18.1464135,8.83470464 18.7951477,10.0899789 19.0324895,11.4718354 C19.0905063,11.8199367 19.3911392,12.0625527 19.7339662,12.0625527 C19.7761603,12.0625527 19.8130802,12.0572785 19.8552743,12.0520042 C20.2455696,11.9887131 20.5040084,11.6195148 20.4407173,11.2292194 C20.1559072,9.55727848 19.3647679,8.03301688 18.156962,6.82521097 C16.9491561,5.61740506 15.4248945,4.82626582 13.7529536,4.5414557 C13.3626582,4.47816456 12.9987342,4.73660338 12.9301688,5.12162447 C12.8616034,5.50664557 13.1147679,5.88111814 13.5050633,5.94440928 Z" id="Path"></path>
                                                                <path d="M24.9607595,11.0235232 C24.4913502,8.27035865 23.1938819,5.76508439 21.200211,3.7714135 C19.2065401,1.77774262 16.7012658,0.480274262 13.9481013,0.0108649789 C13.5630802,-0.0577004219 13.1991561,0.206012658 13.1305907,0.591033755 C13.0672996,0.981329114 13.3257384,1.34525316 13.7160338,1.41381857 C16.1738397,1.83048523 18.4154008,2.99609705 20.1981013,4.77352321 C21.9808017,6.55622363 23.1411392,8.79778481 23.5578059,11.2555907 C23.6158228,11.603692 23.9164557,11.846308 24.2592827,11.846308 C24.3014768,11.846308 24.3383966,11.8410338 24.3805907,11.8357595 C24.7656118,11.7777426 25.0293249,11.4085443 24.9607595,11.0235232 Z" id="Path"></path>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </i>
                                        <a href="tel:336-8854244" class="mr-2">336-8854244</a> <a href="tel:336-4422888">336-4422888</a>
                                    </li>
                                    <li class="fp-text">
                                        <i>
                                            <svg  viewBox="0 0 25 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  
                                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <g id="five-points-tax-home" transform="translate(-418.000000, -2689.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                                        <g id="Group-13" transform="translate(405.000000, 2342.000000)">
                                                            <g id="envelope" transform="translate(13.000000, 347.000000)">
                                                                <path d="M22.9166504,0 L2.08334961,0 C0.934326172,0 0,0.946783854 0,2.1111276 L0,16.8889219 C0,18.0532161 0.934326172,19 2.08334961,19 L22.9166992,19 C24.0656738,19 25,18.0532161 25,16.8888724 L25,2.1111276 C25,0.946783854 24.0656738,0 22.9166504,0 Z M2.08334961,1.05553906 L22.9166992,1.05553906 C22.993457,1.05553906 23.061084,1.08389062 23.1331055,1.09992188 C21.3294434,2.77266406 15.3487793,8.31690365 13.2558594,10.2277396 C13.0920898,10.3772161 12.828125,10.5555391 12.5000488,10.5555391 C12.1719727,10.5555391 11.9080078,10.3772161 11.7437012,10.2272448 C9.65097656,8.31670573 3.6699707,2.77216927 1.86660156,1.10002083 C1.93876953,1.08398958 2.00654297,1.05553906 2.08334961,1.05553906 Z M1.04165039,16.8888724 L1.04165039,2.1111276 C1.04165039,2.00771615 1.07241211,1.91390365 1.09995117,1.81939844 C2.48041992,3.09972135 6.6534668,6.96820052 9.35932617,9.46160417 C6.66225586,11.8092422 2.48813477,15.8194297 1.09667969,17.1639766 C1.07211914,17.0742214 1.04165039,16.9864453 1.04165039,16.8888724 Z M22.9166504,17.9444609 L2.08334961,17.9444609 C2.00014648,17.9444609 1.92617188,17.9150703 1.84848633,17.8962682 C3.28632813,16.5072891 7.48701172,12.4740443 10.1366699,10.1770729 C10.4820801,10.4945807 10.7976074,10.7840833 11.0463379,11.0111927 C11.4756348,11.4039583 11.978125,11.6111276 12.5,11.6111276 C13.021875,11.6111276 13.5243652,11.4039089 13.953125,11.0116875 C14.2019531,10.7844792 14.5177246,10.4947292 14.8633301,10.1770729 C17.5131348,12.4737969 21.7132324,16.5067448 23.1515137,17.8962682 C23.0738281,17.9150703 22.9999512,17.9444609 22.9166504,17.9444609 Z M23.9583496,16.8888724 C23.9583496,16.9863958 23.9278809,17.0742214 23.9033691,17.1639766 C22.511377,15.818737 18.3377441,11.8089948 15.6407227,9.46165365 C18.3466797,6.96825 22.5190918,3.10011719 23.9000488,1.81929948 C23.9275879,1.91380469 23.9583496,2.00766667 23.9583496,2.11107813 L23.9583496,16.8888724 L23.9583496,16.8888724 Z" id="Shape"></path>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </i>
                                        <a href="mailto:support@fivepointtax.com">support@fivepointtax.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6" data-aos="fade-up" data-aos-duration="1200">
                                <form action="" class="fp-auth">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control" placeholder="First Name">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control" placeholder="Last Name">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="email" class="form-control" placeholder="Email">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="number" class="form-control" placeholder="Phone">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <input type="text" class="form-control" placeholder="Subject">
                                        </div>
                                        <div class="form-group col-md-12 mb-0">
                                            <textarea class="form-control" placeholder="Message"></textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="submit" class="btn fp-btn-bg">Submit</button>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>
                </section>
            </main>
            <% include /src/include/footer.ejs %>
    </div>
    <% include /src/include/scripts.ejs %>

</body>

</html>