<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>Five Point Taxes</title>

    <% include /src/include/styles.ejs %>

</head>

<body>
    <div class="fp-content">
        <% include /src/include/header.ejs %>
            <main>
                <section class="fp-banner-main fp-title-main">
                    <div class="fp-banner-img">
                        <img src="images/documents_resources.jpg" alt="">
                    </div>
                    <div class="fp-banner-data">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="fp-banner-content" data-aos="fade-up" data-aos-duration="1200">
                                        <h1 class="fp-title">Documents and Resources</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="fp-document-main fp-space">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="fp-document-list" data-aos="fade-up" data-aos-duration="1200">
                                    <h2 class="fp-title">Tax <span>Forms</span></h2>
                                    <p class="fp-text">Download The Payroll Forms Needed. For questions please check our FAQ page or contact us.</p>
                                    <ul class="fp-download">
                                        <li>
                                            <a href="images/nc-ez-4.pdf" class="fp-subtitle" download><i></i> <span>NCEZ4</span></a>
                                        </li>
                                        <li>
                                            <a href="images/NC_4.pdf" class="fp-subtitle" download><i></i> <span>NC4</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="fp-document-list" data-aos="fade-up" data-aos-duration="1200">
                                    <h2 class="fp-title">Track Your <span>Refund</span></h2>
                                    <p class="fp-text">When will you receive your refund? The answer depends on how you filed your return. The IRS should issue your refund check within six to eight weeks of filing a paper return. If you chose to receive your refund through
                                        direct deposit, you should receive it within a week. If you use e-file, your refund should be issued between two and three weeks.</p>
                                    <p class="fp-text">You can check on the status of your refund by clicking on the links below.</p>
                                    <p class="fp-text">Check your Federal Refund... <a href="https://sa.www4.irs.gov/irfof/lang/en/irfofgetstatus.jsp" target="_blank">Click here</a></p>
                                    <p class="fp-text">Check your State Refund...</p>
                                    <form action="" class="fp-auth mt-3">
                                        <div class="row">
                                            <div class="form-group col-sm-4">
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>Select State</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                  </select>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                                <div class="fp-document-list" data-aos="fade-up" data-aos-duration="1200">
                                    <h2 class="fp-title">Professional <span>Memberships</span></h2>
                                    <ul class="fp-logo-list">
                                        <li>
                                            <a href="javascript:void(0);"><img src="../images/logo-1.png" alt=""></a>
                                        </li>

                                        <li>
                                            <a href="javascript:void(0);"><img src="../images/logo-4.jpg" alt=""></a>
                                        </li>
                                    </ul>
                                    <div class="text-center">
                                        <a href="javascript:vodi(0);" data-toggle="modal" data-target="#exampleModal" class="fp-btn-bg">Schedule A Consultation</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </main>
            <% include /src/include/footer.ejs %>
    </div>
    <% include /src/include/scripts.ejs %>

</body>

</html>