<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>Five Point Taxes</title>

    <% include /src/include/styles.ejs %>

</head>

<body>
    <div class="fp-content">
        <% include /src/include/header.ejs %>
            <main>
                <section class="fp-banner-main fp-title-main">
                    <div class="fp-banner-img">
                        <img src="images/banner-bg.jpg" alt="">
                    </div>
                    <div class="fp-banner-data">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="fp-banner-content" data-aos="fade-up" data-aos-duration="1200">
                                        <h1 class="fp-title">Our Services</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="fp-service-main fp-space">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="fp-title" data-aos="fade-up" data-aos-duration="1200">Personalized Service For <span>Individuals & Businesses</span></h2>
                                <p class="fp-text" data-aos="fade-up" data-aos-duration="1200">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book.</p>
                                <div class="fp-service-list" data-aos="fade-up" data-aos-duration="1200">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="fp-service-data">
                                                <img src="../images/tax-planning.svg" alt="">
                                                <h3 class="fp-subtitle">Individual & Business Tax Preparation</h3>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="fp-service-data">
                                                <img src="../images/business-consulting.svg" alt="">
                                                <h3 class="fp-subtitle">Business and Non-Profit Consultation </h3>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="fp-service-data">
                                                <img src="../images/estate-family.svg" alt="">
                                                <h3 class="fp-subtitle">IRS & State Client Representation</h3>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="fp-service-data">
                                                <img src="../images/quickbook.svg" alt="">
                                                <h3 class="fp-subtitle">Quickbooks Consulting</h3>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="fp-service-data">
                                                <img src="../images/accounting-assurance.svg" alt="">
                                                <h3 class="fp-subtitle">Accounting and Book-keeping</h3>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="fp-service-data">
                                                <img src="../images/ssae.svg" alt="">
                                                <h3 class="fp-subtitle">Payroll Services</h3>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <% include /src/include/footer.ejs %>
    </div>
    <% include /src/include/scripts.ejs %>

</body>

</html>