<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>Five Point Taxes</title>

    <% include /src/include/styles.ejs %>

</head>

<body>
    <div class="fp-content">
        <% include /src/include/header.ejs %>
            <main>
                <section class="fp-banner-main fp-title-main">
                    <div class="fp-banner-img">
                        <img src="images/ourservices.jpg" alt="">
                    </div>
                    <div class="fp-banner-data">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="fp-banner-content" data-aos="fade-up" data-aos-duration="1200">
                                        <h1 class="fp-title">Our Services</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="fp-service-main fp-space">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="fp-title" data-aos="fade-up" data-aos-duration="1200">Personalized Service For <span>Individuals & Businesses</span></h2>
                                <p class="fp-text" data-aos="fade-up" data-aos-duration="1200">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book.</p>
                                <div class="fp-service-list" data-aos="fade-up" data-aos-duration="1200">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="fp-service-data">
                                                <div>
                                                    <img src="../images/tax-planning.svg" alt="">
                                                    <h3 class="fp-subtitle">Individual & Business Tax Preparation</h3>
                                                    <p class="fp-text">We specialize in individual and business tax filing. We ensure our clients tax returns are well scrutinized for errors and take advantage of all available deductions before sent to the IRS and state.
                                                    </p>
                                                </div>
                                                <a href="contact.html">Conatct Us</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="fp-service-data">
                                                <div>
                                                    <img src="../images/business-consulting.svg" alt="">
                                                    <h3 class="fp-subtitle">Business and Non for Profit consultation </h3>
                                                    <p class="fp-text">We understand our clients passion for their cause and businesses, therefore time is spent with each individual to help create and bring their non profit organization up to government standards.
                                                    </p>
                                                </div>
                                                <a href="contact.html">Conatct Us</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="fp-service-data">
                                                <div>
                                                    <img src="../images/estate-family.svg" alt="">
                                                    <h3 class="fp-subtitle">Client representation before the IRS and State</h3>
                                                    <p class="fp-text">Due to our many years of experience as tax preparers and accountants, our honesty and integrity has earned us the trust of our clients to be an advocate for them with multiple government agencies.
                                                    </p>
                                                </div>
                                                <a href="contact.html">Conatct Us</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="fp-service-data">
                                                <div>
                                                    <img src="../images/accounting-assurance.svg" alt="">
                                                    <h3 class="fp-subtitle">Accounting and Book-keeping</h3>
                                                    <p class="fp-text">Knowing how well your business account is doing is the first step to a successful business. We help our clients, reconcile their accounts promptly to ensure there are no fraudulent activities or unauthorized
                                                        transactions slip through their bank accounts.</p>
                                                    <p class="fp-text">We are always available for you, because you are the reason we are in business for all these years..</p>
                                                    <p class="fp-text">Come in today for a free consultation</p>
                                                </div>
                                                <a href="contact.html">Conatct Us</a>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="fp-service-data">
                                                <div>
                                                    <img src="../images/ssae.svg" alt="">
                                                    <h3 class="fp-subtitle">Payroll Services</h3>
                                                    <p class="fp-text">
                                                        We offer cost effective payroll solutions to our clients. Our payroll solution frees you to run your business more effectively without challenges of spending countless hours on payroll. As a small business, we offer solutions to reduce overhead cost of
                                                        having a payroll department. With frequent changes in Federal, state and local tax laws, we stay abreast with changes to ensure all business taxes are properly filed when due.
                                                    </p>
                                                </div>
                                                <a href="contact.html">Conatct Us</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <% include /src/include/footer.ejs %>
    </div>
    <% include /src/include/scripts.ejs %>

</body>

</html>